---
import "../../styles/global.scss";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import GTMHead from "../../components/GTMHead.astro";
import GTMBody from "../../components/GTMBody.astro";

const blogs = await getCollection("blog");
const stickies: typeof blogs = [];
const normals: typeof blogs = [];

for (let index = 0; index < blogs.length; index++) {
    const element = blogs[index];
    if (element.data.hidden) {
        continue;
    }
    if (element.data.sticky) {
        stickies.push(element);
    } else {
        normals.push(element);
    }
}

stickies.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
normals.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const [newest, ...others] = normals;

const posts: typeof blogs = [newest, ...stickies, ...others];

const gtmId = import.meta.env.PUBLIC_APP_GTM_ID
---

<!doctype html>
<html lang="en">
    <head>
        {!!gtmId && <GTMHead id={gtmId} />}
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
    </head>
    <body>
        {!!gtmId && <GTMBody id={gtmId} />}
        <Header />
        <main>
            <section>
                <ul>
                    {
                        posts.map((post) => (
                            <li class={post.data.fullWidth ? "full-width" : ""}>
                                <a href={`/blog/${post.id}/`}>
                                    {post.data.heroImage && (
                                        <div class="image">
                                            <Image
                                                width={720}
                                                height={360}
                                                src={post.data.heroImage}
                                                alt=""
                                            />
                                        </div>
                                    )}
                                    <h4 class="title">
                                        {post.data.sticky && (
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="20"
                                                height="20"
                                                fill="#000000"
                                                viewBox="0 0 256 256"
                                            >
                                                <path d="M235.33,104l-53.47,53.65c4.56,12.67,6.45,33.89-13.19,60A15.93,15.93,0,0,1,157,224c-.38,0-.75,0-1.13,0a16,16,0,0,1-11.32-4.69L96.29,171,53.66,213.66a8,8,0,0,1-11.32-11.32L85,159.71l-48.3-48.3A16,16,0,0,1,38,87.63c25.42-20.51,49.75-16.48,60.4-13.14L152,20.7a16,16,0,0,1,22.63,0l60.69,60.68A16,16,0,0,1,235.33,104Z" />
                                            </svg>
                                        )}
                                        <span>{post.data.title}</span>
                                    </h4>
                                    <p class="date">
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                        {post.data.updatedDate && (
                                            <span class="date-updated">
                                                (
                                                <strong>Last updated on</strong>
                                                <FormattedDate
                                                    date={post.data.updatedDate}
                                                />
                                                )
                                            </span>
                                        )}
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>

<style scoped lang="scss">
    @use "../../styles/_elements.scss" as elements;
    @reference "../../styles/global.css";
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media (min-width: 720px) {
            gap: 1rem;
        }

        li {
            width: 100%;
            @media (min-width: 720px) {
                width: calc(50% - 0.5rem);
            }

            text-align: center;
            border: none;
            background-color: inherit;

            * {
                text-decoration: none;
                transition: 0.2s ease;
            }

            &:first-child {
                width: 100%;
                margin-bottom: 1rem;
                text-align: center;

                @media (max-width: 720px) {
                    margin-bottom: 0;
                }

                img {
                    width: 100%;
                }

                .title {
                    font-size: 2.369rem;

                    @media (max-width: 720px) {
                        font-size: 1.563em;
                    }
                }
            }

            &.full-width {
                width: 100%;
                margin-bottom: 1rem;
                text-align: center;

                img {
                    width: 100%;
                }

                .title {
                    font-size: 2.369rem;
                }
            }

            a {
                display: block;
                height: 100%;

                border-bottom: 2px lightgrey dashed;

                @media (min-width: 720px) {
                    border-radius: 8px;
                    border-bottom: none;
                }

                &:focus-visible,
                &:hover {
                    box-shadow: var(--box-shadow);

                    .title,
                    .date {
                        color: rgb(var(--accent));
                    }
                }

                &:hover {
                    @include elements.global_focus_visible;
                    outline-color: rgba(var(--root--rgb), 0.7);
                    outline-offset: 2px;
                }
            }

            .image {
                height: 300px;
                margin-bottom: 0.5rem;
                border-radius: 12px;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
            .title {
                margin: 0;
                color: rgb(var(--black));
                line-height: 1;
                padding-left: 10px;
                padding-right: 10px;

                svg {
                    fill: rgba(var(--root--rgb), 0.7);
                }
            }
            .date {
                margin: 0;
                color: rgb(var(--gray));
                padding-left: 10px;
                padding-right: 10px;
            }
            .date-updated {
                font-size: 1rem;
            }
        }
    }
</style>
